/*
Document minimal paddings
*/
body {
  padding: 1.5rem; }

/*
  Block elements with bottom margins only
  ---------------------------------------
  */
p,
ul,
ol,
dl,
table,
blockquote,
pre,
figure,
hr {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 1rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem; }

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0; }

/*
  Same left margins for ul/ol, dd, blockquote
  -------------------------------------------
  */
ul,
ol,
dd {
  padding-left: 1.75rem; }

dd {
  margin-left: 0; }

/*
  Blockquote
  ----------
  */
blockquote {
  border: 0;
  padding-left: 1.75rem;
  margin-left: 0;
  font-style: italic; }

/*
  Figure/Figcaption
  -----------------
  */
figure {
  margin-left: 0;
  margin-right: 0; }

figure > table,
figure > img,
figure > picture {
  margin-bottom: 0; }

/*
  Etc.
  ----
  */
fieldset {
  border: 0; }

legend {
  padding: 0 .5rem; }

hr {
  border-style: solid;
  opacity: .25; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f9f9f9; }
  .about__me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (min-width: 769px) {
      .about__me {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .about__me__profile-photo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 200px;
      width: 200px; }
      @media only screen and (min-width: 769px) {
        .about__me__profile-photo {
          height: 300px;
          width: 300px; } }
      .about__me__profile-photo__img {
        border-radius: 50%; }
    .about__me__description {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media only screen and (max-width: 768px) {
        .about__me__description {
          height: 200px; } }
      @media only screen and (min-width: 769px) {
        .about__me__description {
          text-align: center; } }
      .about__me__description__name {
        font-size: 2.5rem;
        font-weight: 400; }
      .about__me__description__position {
        font-size: 1.5rem;
        font-weight: 400; }
    .about__me__links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      max-width: 460px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      @media only screen and (max-width: 768px) {
        .about__me__links {
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; } }
      @media only screen and (min-width: 769px) {
        .about__me__links {
          -ms-flex-pack: distribute;
              justify-content: space-around;
          margin-top: 2rem; } }
      .about__me__links__link {
        text-decoration: none;
        fill: black; }
        .about__me__links__link--linkedIn:hover {
          fill: #0077B7; }
        .about__me__links__link--twitter:hover {
          fill: #1da1f2; }
        .about__me__links__link--github:hover {
          fill: #575C61; }
        .about__me__links__link--email:hover {
          fill: #0389ff; }

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("/output/img/background.jpg");
  background-position: center;
  background-size: cover; }
  .photo__title {
    -ms-flex-item-align: start;
        align-self: flex-start;
    color: #f9f9f9;
    font-size: 2.5rem;
    margin: 1rem 0 2rem 0;
    text-align: center; }
    @media only screen and (min-width: 769px) {
      .photo__title {
        -ms-flex-item-align: end;
            align-self: flex-end; } }

body {
  padding: 0; }

.container {
  display: -ms-grid;
  display: grid;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
          grid-template-areas: "about" "photo";
  height: 100vh;
  width: 100vw; }

@media only screen and (min-width: 769px) {
  .container {
    display: -ms-grid;
    display: grid;
        -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
            grid-template-areas: "about photo"; } }

.about {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: about; }

.photo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: photo; }

@media only screen and (min-width: 769px) {
  .about {
    -ms-grid-row: 1;
    -ms-grid-column: 1; }
  .photo {
    -ms-grid-row: 1;
    -ms-grid-column: 2; } }
