@import "./../_variables.scss";
.container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.not-css-supports{
    .about {
        display: block;
        width: 100vw;
        height: 300px;
    }
    
    .photo {
        display: block;
        width: 100vw;
        height: calc(100vh - 300px);
    }

    @include res-min-tablet {
        .container {
            .about {
                display: inline-block;
                width: 300px;
                height: 100vh;
                overflow: auto;
            }
            
            .photo {
                display: inline-block;
                float: right;
                width: calc(100vw - 300px);
                height: 100vh;
            }
        }
    }
}

@supports (display: grid) {
    .container {
        display: -ms-grid;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 1fr;
        grid-template-areas: "about" "photo";
    }
    
    @include res-min-tablet {
        .container {
            display: -ms-grid;
            display: grid;
            grid-template-columns: 300px 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "about photo";
        }
    }
    
    .about {
        grid-area: about;
    }
    
    .photo {
        grid-area: photo;
    }
}