@import "./../_variables.scss";
.about {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    &__me {
        $height: 200px;
        display: flex;
        @include res-min-tablet {
            flex-direction: column;
        }
        &__profile-photo {
            display: flex;
            align-items: center;
            justify-content: center;
            height: $height;
            width: $height;
            @include res-min-tablet {
                height: 300px;
                width: 300px;
            }
            &__img {
                border-radius: 50%;
            }
        }
        &__description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include res-max-tablet {
                height: $height;
            }
            @include res-min-tablet {
                text-align: center;
            }
            &__name {
                font-size: 2.5rem;
                font-weight: 400;
            }
            &__position {
                font-size: 1.5rem;
                font-weight: 400;
            }
        }
        &__links {
            display: flex;
            width: 100%;
            max-width: 460px;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            @include res-max-tablet {
                justify-content: space-between;
            }
            @include res-min-tablet {
                justify-content: space-around;
                margin-top: 2rem;
            }
            &__link {
                text-decoration: none;
                fill: black;
                &--linkedIn:hover {
                    fill: #0077B7;
                }
                &--twitter:hover {
                    fill: #1da1f2;
                }
                &--github:hover {
                    fill: #575C61;
                }
                &--email:hover {
                    fill: #0389ff;
                }
            }
        }
    }
}